GOAPP_HOST=127.0.0.1
GOAPP_PORT=3000
GOAPP_NAME=GOLANG FIRST API APP
GOAPP_VERSION=0.0.1

GOAPP_POSTGRES_DB_NAME=postgres
GOAPP_POSTGRES_DB_USER=postgres
GOAPP_POSTGRES_DB_PASSWORD=golang-first-api
GOAPP_POSTGRES_DB_HOST=localhost
GOAPP_POSTGRES_DB_PORT=5432

GOAPP_MONGODB_DB_ATLAS_URI=mongodb://root:golang-first-api@127.0.0.1:27017/?authMechanism=SCRAM-SHA-1&authSource=admin
GOAPP_MONGODB_DB_NAME=golang_cleancode_example

GOAPP_SECRET_KEY=1234567890
GOAPP_JWT_ACCESS_EXPIRES=86400
GOAPP_JWT_REFRESH_EXPIRES=172800
